*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*宽度包括border*/
}


.window{
    width: 360px;
    height: 480px;
    margin: 20px auto;/*居中*/
    overflow: hidden;/*窗口以外的隐藏*/
}
.images{
   position: relative;
}
.images>img{
    width: 100%;
    transition: all 0.3s;/*所有动画0.3s*/
    position: absolute;
    top: 0;
}

.images>img.current{
left: 0;
transform: translateX(0);
z-index: 1;
}
.images>img.leave{
    transform: translateX(-100%);
    z-index: 1;
}
.images>img.enter{
    transform: translateX(100%);
}

